/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: rgba(13,17,23,0.95);
  font-family: 'Inter', sans-serif;
  min-height: 3%;
  padding-top: 4%;
}

.header {
  background-color: rgb(19, 22, 26);
  position: fixed;
  width: 100%;
  top: 0;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 30px;
  margin: 0 auto;
}

.logo__img {
  height: 35px;
  display: block;
}

/*The Style for active nav bar*/
.nav__list {
  display: flex;
  column-gap: 40px;
}

/*The Style for active nav bar*/
.nav__link {
  color: rgba(255, 255, 255, 0.75);
  font-size: 15px;
  transition: all 0.4s;
  position: relative;
}

/*The Style for active nav bar*/
.nav__link:hover, .nav__link:focus {
  color: rgba(255, 255, 255, 1);
}

/*The Style for active nav bar*/
.nav__link::after {
  content: '';
  height: 2px;
  width: 100%;
  background-color: rgb(28, 128, 228);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: all 0.2s;
  opacity: 0;
  pointer-events: none;
}

/*The Style for active nav bar*/
.nav__link:hover::after {
  opacity: 1;
}

/*The Style for active nav bar*/
.nav__link.active {
  color: rgba(255, 255, 255, 1);
}

/*The Style for active nav bar*/
.nav__link.active::after {
  opacity: 1;
}


.btn {
  color: #fff;
  background-color: #0071e3;
  padding: 7px 18px;
  border-radius: 12px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  transition: all 0.2s;
}

.btn:hover {
  background-color: rgb(28, 128, 228);
}

#nameTitle {
  margin-top: 15%;
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 500%;
  text-align: center;
}

h6 {
  text-align: center;
  font-family: "Noto Sans SC", sans-serif;
}

#Title {
  font-size:xx-large;
  color: white;
  margin-bottom: 15%;
}

fieldset {
  border-radius: 5px;
  padding: 1.5%;
  border: 1px solid;
  font-size: large;
  color: white;
  border-color: #363940;
  background-color: rgb(19, 22, 26);
}

legend {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid;
  border-right-color:#363940;
  border-left-color: #363940;
  border-top: none;
  border-bottom: none;  
  color: #1f6feb;
}

.margin {
  margin-left: 20%;
  margin-right: 20%;
}

.list2 {
  list-style:square;
  margin-left: 50px;
  margin-top: 15px;
}

.list2 li {
  margin-bottom: 15px;
}

/*Set languages images sizes*/
.languages {
  height: 50px;
}

/*Spreads the language icons out*/
#imagecontainer {
  display: flex;
  justify-content: space-between;
}

/*The grey shading around sub titles*/
span {
  background-color: #4B5159;
  padding: 0.5%;
  border-radius: 5%;
}

/*Keeps the date on the right*/
.date {
  float: right;
}

/*Sets the space between the contact option images*/
.linkimage {
  margin-right: 10px;
}

/*Sets the dimensions of the github button*/
#github {
  border: 1px solid;
  padding-right: 55px;
  padding-left: 55px;
}

.anchors {
  padding-bottom: 6%;
  padding-top: 0;
}